*{
    margin: 0;
    padding: 0;
}
body{
    background: url(bg.jpg) no-repeat center center fixed;
    background-size: cover;
}
.container{
    
    color: white;
    position: absolute;
    top: 18%;
    right: 10%;
}
.container h1{
    display: inline-block;
    font-size: 50px;
    border-bottom: 5px solid rgb(75, 75, 163);
    margin-bottom: 45px;
    padding: 13px 0px;

}
.box{
    width: 100%;
    border-bottom: 2px solid rgb(29, 29, 40);
    margin: 22px 1px;
}
.box input{
    background: none;

    width: 50%;
    
    padding: 3px 39px;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
}
.box i{
    width: 25px;
    
    text-align: center;

}
.btn{
    font-size: 16px;
    background: none;
     font-weight: bold;
     cursor: pointer;
     outline: none;
     width: 28%;
     margin: 15px 18px;
     padding: 6px;
     border-radius: 5px ;
     color: white;

}
.btn:hover{
    opacity: 0.5;
    color: rgb(84, 84, 227);
    background: white;
}
@media only screen and (max-width:950px){
    body{
        justify-content: center;
    }
    .container{
        width: 80%;
        position: static;
    }
}